:root {
    font-family:  'lato', sans-serif, serif;
    font-size: 1.5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    line-height: 1.5;
    min-height: 100vh;
}

footer{
    position: ;
}

#bottom-left{
    display: none;
}


body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    gap: 1em;
}

header{
    display: flex;
    position: relative;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    margin-right: 1em;
}

#drop-control{
    
    display: flex;
    font-size: 1.2em;
}

#drop{
    padding-top: 2em;
    display: none;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 1em;
}

#drop:hover{
    display: flex;
}

#header-left{
    justify-content: left;
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    flex: 1 1;
}

button{
    background: none;
    border: none; 
}

button:hover{
    color: #808080;    
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.nav-button{
    display: flex;
    font-size: 1em;
    text-align: center;
    align-self: center;
}

.nav-button:hover{
    color: #808080;
}

/*desktop*/
@media screen and (min-width: 900px) {

    header{
        display: flex;
        position: relative;
        top: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
/*         margin-bottom: 5em;
 */    }

    #header-left{
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
    }

    #drop{
        padding-top: 0;
        padding-left: 1em;
        padding-bottom: 1em;
        top: 2em;
        right: .1em;
        display: none;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 1em;
        position: absolute;
    }

    nav{
        display: flex;
        justify-content: right;
        flex-direction: column;
        width: auto;
        margin-right: 1em;
    }

    .nav-button {
        display: inline;
        font-size: 1em;
    }
}








/*tablet*/
@media screen and (min-width: 750px) {

    main {
        flex-direction: column;
    }

    #header-left{
        font-size: 1.5em;
        justify-content: left;
        display: flex;
        margin-left: 1em;
        margin-right: 1em;
        flex: 1 2;
    }

    header{
        display: flex;
        flex-direction: row;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: right;
        width: auto;

    }

    .nav-button {
        display: inline;
        font-size: 1.5em;
        font-size: 1.2em;
    }
}

