:root {
    font-family:  'lato', sans-serif, serif;
    font-size: 1.5em;
    color: #000;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 5em;
    margin: 2em;
    color: aqua;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

a{
    color: white;
    text-decoration: none;
    

}

a:hover{
    color: aqua;
}

.service{
    width: 200px;
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
}

button{
    text-align: center;
    color: black;
    border: none;
    background: none;
    background-color: none;
    
}

.services{
    text-align: center;
    width: 100%;
}

.desc{
    max-width: 50%;
    color: black;
    background-color: rgb(255, 255, 255, .8);
    text-align: center;
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    padding: 10px;
}

.contact{
    text-align: center;
}

.email{
    color: grey;
}

.con{
    text-align: center;
}